<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>Untitled Document</title>
        <style type="text/css">
.col {
    float: left;
    width: 50%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
        </style>
    </head>
    <body>
        <div class="row">
            <div class="col">
                <h1>Songs listened to:</h1>
                {% for item in listened %}
                <p>{{ item.title }} by {{ item.artist }}</p>
                <p>link - <a href={{ item.uri }}>{{item.uri}}</a></p>
                {% endfor %}

            </div>
            <div class="col">
                <h1>to be added</h1>

            </div>
        </div>
    </body>
</html>
